@page "/"

<PageTitle>Home</PageTitle>

<RadzenRow>
    <RadzenColumn Size="2"></RadzenColumn>
    <RadzenColumn Size="8">
        <RadzenText TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Center">
            Welcome to <em>Adventures in Semantic Kernel</em>!
        </RadzenText>
        <RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Center" Text="A fun and interactive way to learn about Microsoft's AI Orchestration library"></RadzenText>
        <RadzenText>
             Explore the cool features of Semantic Kernel, from creating co-pilots and agents, to managing memories and plans, to executing actions and building a lively chat experience. You won't just watch and read, you'll also get to tinker and experiment with these features, and see how they work together.
        </RadzenText>
        <RadzenText>
            Though it's open source with <em>many</em> great contributions from the community, Semantic Kernel is a Microsoft product, born out of the desire to make AI services more accessible and easy to use for app developers. It offers a smart set of connectors that let you plug in memories and models to your app, giving it a virtual "brain" that can store and process information. But that's not all; it also gives you access to AI plugins, which act as the "body" of your AI app. These plugins are versatile, with prompts and LLM calls and native functions that execute your code direcly which can interact with the real world by responding to triggers and performing actions.
        </RadzenText>
        <RadzenText>
            Semantic Kernel is very versatile. It can work with AI plugins from various providers, such as OpenAI or Microsoft. Whether you want to use plugins for ChatGPT, Bing, or Microsoft 365 Copilot, Semantic Kernel can handle models from leaders like OpenAI, Azure, and Hugging Face. As a developer, you have the freedom to either use individual components or combine them to unleash the full potential of Semantic Kernel. Join "Adventures in Semantic Kernel" and discover the magic of AI orchestration.
        </RadzenText>
        <RadzenLink Path="https://learn.microsoft.com/en-us/semantic-kernel/overview/" Target="_blank" Text="Read More about Semantic Kernel"></RadzenLink><br />
        <RadzenLink Path="https://github.com/microsoft/semantic-kernel" Target="_blank">Semanic Kernel Repo</RadzenLink>
    </RadzenColumn>
    <RadzenColumn Size="2"></RadzenColumn>
</RadzenRow>
<RadzenRow>
    <RadzenColumn Size="9" Offset="1" Style="justify-items:center; justify-content:center; display:flex; flex-direction:column">
        <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.DisplayH6" Text="Add Configuration Values"></RadzenText>
        <RadzenText TextAlign="TextAlign.Center" TextStyle="TextStyle.Subtitle1">Current configuration will work for most (though not all) plugins, but several <span style="font-weight:800">SK Samples</span> will require config values for specific resources not available by default.</RadzenText>
       

    </RadzenColumn>
</RadzenRow>
<RadzenRow>
    <RadzenColumn Size="7" Offset="2" Style="justify-items:center; justify-content:center; display:flex; flex-direction:column">
        <RadzenText TextStyle="TextStyle.Body2">Note: All OpenAI chat models are configured for gpt-3.5-turbo. Some examples may not work particularly well with this model. You can change any of the default model settings by adding your own <RadzenLink Text="Api Key" Path="https://platform.openai.com/api-keys" Target="_blank"></RadzenLink> All configuration values will be saved in your browser's local storage using <RadzenLink Text="ProtectedLocalStorage" Target="_blank" Path="https://learn.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-8.0&pivots=server#aspnet-core-protected-browser-storage"></RadzenLink></RadzenText>
        <RadzenButton Style="width:max-content; margin-left:auto; margin-right:auto" Variant="Variant.Text" Click="ShowConfig" Size="ButtonSize.Large" Text="Click Here To Add Configuration Values"></RadzenButton>
    </RadzenColumn>
</RadzenRow>


