@page "/logprobsautocomplete"
@using Radzen.Blazor.Rendering

<RadzenRow>
    <RadzenColumn Size="6" Offset="3">
        <RadzenText Style="color:red" TextAlign="TextAlign.Center" TextStyle="TextStyle.DisplayH5" Text="Just getting started with this..."></RadzenText>
      
        <RadzenText TextStyle="TextStyle.Caption">Press Up, Down to see suggestions, Right-Arrow to complete.</RadzenText>
        <RadzenCard Style="min-height:5rem; padding-top:0" @onkeydown:stopPropagation="true">
            <div class="autocomplete-container">
                <div class="autocomplete-overlay" @ref="_overlay">
                    <span class="highlighted">@_userInput</span><span class="suggested">@_remainingSuggestion</span>
                </div>
                <textarea id="textbox0" @ref="_textArea" @bind="_userInput" @oninput="UpdateAutocomplete" class="autocomplete-input"  @onkeydown="HandleKeyPress" @onkeydown:preventDefault="false" autocomplete="off" spellcheck="false"></textarea>
            </div>
           
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

@code {
    
}
