<div @ref=_chatColumn style="@($"height:{Height}; overflow:auto; width:100%")">
    @foreach (var message in ChatState?.ChatMessages ?? [])
    {
        <MessageView Message="message"></MessageView>
    }
</div>