@if (IsOpen)
{
    <div class="modal-overlay" @onclick=OutClick>
        <div class="window @($"{Enum.GetName(AskUserOptions.Location)?.ToLower()} {AskUserOptions.CssClasses}")" style="@AskUserOptions.Style" @onclick:stopPropagation>

            @if (AskUserOptions.ShowCloseButton || !string.IsNullOrEmpty(AskUserOptions.Title))
            {
                <div class="modal-header">
                    <div class="text-center title">
                        @((MarkupString)AsHtml(AskUserOptions.Title))
                    </div>
                    <div>
                        @if (AskUserOptions.ShowCloseButton)
                        {
                            <button class="close" @onclick="Close"><i class="fas fa-times"></i></button>
                        }
                    </div>
                </div>
            }

            @if (ComponentType != null)
            {
                <DynamicComponent Type="ComponentType" Parameters="AskUserParameters"></DynamicComponent>
            }
            @if (ChildContent != null)
            {
                @ChildContent
            }

        </div>
    </div>
}