@if (TokenString.StringValue.Contains('\n'))
{
    <br/>
}
<span style="cursor: pointer" @ref="_ref" @onclick="@(() => OnClick.InvokeAsync(TokenString))" @onmouseenter="@(() => ShowTooltipWithHtml(_ref, TokenString))">
    @((MarkupString)_textAsHtml)
</span>

@code {
    void ShowTooltipWithHtml(ElementReference elementReference, TokenString alternateTokens, TooltipOptions? options = null) => TooltipService.Open(elementReference, ds =>
     
            @<div>
    Probability: @alternateTokens.NormalizedLogProbability.ToString("P3")<br /><em style="font-size:90%">click for details</em>
            </div>
   , options);
}