.user {
    background: radial-gradient(ellipse, #C19A6B, #9F6C3F, #b45918);
    background-size: 50% 50%;
    color: black;
    font-weight: bold;
    width: 93%;
    margin-right: auto;
    border-radius: 30px 30px 30px 0;
}

.assistant {
    background: radial-gradient(ellipse, black, #181000, #181000, #000000);
    background-size: 50% 50%;
    color: white;
    width: 93%;
    margin-left: auto;
    border-radius: 30px 30px 0 30px;
}
.assistant h1,
.assistant h2,
.assistant h3,
.assistant h4,
.assistant h5 {
	color: white !important;
}